<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">
	<select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
		select
		c.nombre,
		c.documento,
		c.telefono,
		c.direccion,
		c.email,
		c.vetado,
		ir.id as ir_id,
		ir.fechainiciorenta as ir_fechainiciorenta,
		ir.fechafinrenta as ir_fechafinrenta,
		i.id as ir_i_id,
		i.nombre as ir_i_nombre,
		i.descripcion as ir_i_descripcion,
		i.fechalanzamiento as ir_i_fechalanzamiento,
		i.tarifaxdia as ir_i_tarifaxdia,
		i.formatorenta as ir_i_formatorenta,
		i.genero as ir_i_genero,        
		ti.id as ir_i_ti_id,
		ti.descripcion  as ir_i_ti_descripcion
		FROM VI_CLIENTES as c 
		left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
		left join VI_ITEMS as i on ir.ITEMS_id=i.id 
		left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
	</select>
	<select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
		select
		c.nombre,
		c.documento,
		c.telefono,
		c.direccion,
		c.email,
		c.vetado,
		ir.id as ir_id,
		ir.fechainiciorenta as ir_fechainiciorenta,
		ir.fechafinrenta as ir_fechafinrenta,
		i.id as ir_i_id,
		i.nombre as ir_i_nombre,
		i.descripcion as ir_i_descripcion,
		i.fechalanzamiento as ir_i_fechalanzamiento,
		i.tarifaxdia as ir_i_tarifaxdia,
		i.formatorenta as ir_i_formatorenta,
		i.genero as ir_i_genero,        
		ti.id as ir_i_ti_id,
		ti.descripcion  as ir_i_ti_descripcion
		FROM VI_CLIENTES as c 
		left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
		left join VI_ITEMS as i on ir.ITEMS_id=i.id 
		left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
			WHERE c.documento=#{idcli};
	</select>
	<insert parameterType="map" id="agregarItemRentadoACliente">
		insert into VI_ITEMRENTADO(CLIENTES_documento,ITEMS_id,fechainiciorenta, fechafinrenta) values (#{idcliente},#{iditem},#{fechainicio},#{fechafin});
	</insert>
	<insert parameterType="map" id="insertarCliente">
		INSERT into VI_CLIENTES values (#{documento},#{nombre},#{telefono},#{direccion},#{email},#{vetado});
	</insert>
	<delete parameterType="map" id="eliminarCliente">
		DELETE FROM VI_CLIENTES WHERE documento= #{documento} ;
	</delete>


	<resultMap type='Cliente' id='ClienteResult'>
		<id property='documento' column='documento'/>
		<result property='nombre' column='nombre'/>
		<result property='telefono' column='telefono'/>
		<result property='direccion' column='direccion'/>
		<result property='email' column='email'/>
		<result property='vetado' column='vetado'/>
		<collection property='rentados' ofType='ItemRentado' resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper.ItemRentadoResult" columnPrefix="ir_"></collection>
	</resultMap>
</mapper>