<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
	<select id="consultarItems" parameterType="map" resultMap="ItemResult">
        select
        i.id ,
        i.nombre as nombre,
        i.descripcion as descripcion,
        i.fechalanzamiento as fechalanzamiento ,
        i.tarifaxdia as tarifaxdia ,
        i.formatorenta  as formatorenta,
        i.genero  as genero,
        ti.id  as ti_id,
        ti.descripcion as ti_descripcion
        FROM VI_ITEMS as i
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id ;
    </select>

    <select id="consultarItem" parameterType="map" resultMap="ItemResult">
        select
        i.id ,
        i.nombre as nombre,
        i.descripcion as descripcion,
        i.fechalanzamiento as fechalanzamiento ,
        i.tarifaxdia as tarifaxdia ,
        i.formatorenta  as formatorenta,
        i.genero  as genero,
        ti.id  as ti_id,
        ti.descripcion as ti_descripcion
        FROM VI_ITEMS as i
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
        WHERE i.id=#{iditem};
    </select>

    <select id="consultarItemsDisponibles" parameterType="map" resultMap="ItemResult">
        SELECT
        i.id as i_id,
        i.nombre as i_nombre
        FROM VI_ITEMS as i
        left join VI_ITEMRENTADO as ir
        on i.id = ir.ITEMS_id
        WHERE ir.ITEMS_id IS NULL;
    </select>

	<insert parameterType="map" id="insertarItem">
		insert into VI_ITEMS (id,nombre,descripcion,fechalanzamiento,tarifaxdia,formatorenta,genero,TIPOITEM_id) values (#{item.id},#{item.nombre},#{item.descripcion},#{item.fechaLanzamiento},#{item.tarifaxDia},#{item.formatoRenta},
        #{item.genero},#{item.tipo.id});
	</insert>

    <delete parameterType="map" id="eliminarItem">
        DELETE FROM VI_ITEMS WHERE id = #{id};
    </delete>

    <resultMap type='Item' id='ItemResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechaLanzamiento' column='fechalanzamiento'/>
        <result property='tarifaxDia' column='tarifaxdia'/>
        <result property='formatoRenta' column='formatorenta'/>
        <result property='genero' column='genero'/>
        <association property="tipo" javaType="TipoItem" resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult' columnPrefix='ti_'></association>
    </resultMap>
</mapper>